Net rx  LOC=N17  |  IOSTANDARD=LVCMOS33;
Net tx  LOC=N18  |  IOSTANDARD=LVCMOS33;
Net clk LOC=V10  |  IOSTANDARD=LVCMOS33;
NET rst LOC=C4   |  IOSTANDARD=LVCMOS33;

Net txByte<0> LOC=T10  |  IOSTANDARD=LVCMOS33;
Net txByte<1> LOC=T9   |  IOSTANDARD=LVCMOS33;
Net txByte<2> LOC=V9   |  IOSTANDARD=LVCMOS33;
Net txByte<3> LOC=M8   |  IOSTANDARD=LVCMOS33;
Net txByte<4> LOC=N8   |  IOSTANDARD=LVCMOS33;
Net txByte<5> LOC=U8   |  IOSTANDARD=LVCMOS33;
Net txByte<6> LOC=V8   |  IOSTANDARD=LVCMOS33;
Net txByte<7> LOC=T5   |  IOSTANDARD=LVCMOS33;

Net rxByte<7> LOC=T11  |  IOSTANDARD=LVCMOS33;
Net rxByte<6> LOC=R11  |  IOSTANDARD=LVCMOS33;
Net rxByte<5> LOC=N11  |  IOSTANDARD=LVCMOS33;
Net rxByte<4> LOC=M11  |  IOSTANDARD=LVCMOS33;
Net rxByte<3> LOC=V15  |  IOSTANDARD=LVCMOS33;
Net rxByte<2> LOC=U15  |  IOSTANDARD=LVCMOS33;
Net rxByte<1> LOC=V16  |  IOSTANDARD=LVCMOS33;

Net rxByte<0> LOC=U16  |  IOSTANDARD=LVCMOS33;

NET txSend    LOC=B8   |  IOSTANDARD=LVCMOS33;
